@tailwind base;
@tailwind components;
@tailwind utilities;

/* 400 Regular */
@font-face {
    font-family: 'Freesentation';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-4Regular.woff2') format('woff2');
}

/* 500 Medium */
@font-face {
    font-family: 'Freesentation';
    font-weight: 500;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-5Medium.woff2') format('woff2');
}

/* 700 Bold */
@font-face {
    font-family: 'Freesentation';
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-7Bold.woff2') format('woff2');
}